.btn-round{
    margin: 5px;
    color: #7393b2;
    border: 1px solid #7393b2;
    border-radius: 50px;
    padding: 10px 15px;
    font-weight: lighter;
    opacity: 0.6;
}


.btn-round:hover {
    opacity: 1;
    text-decoration: none;
    color: #7393b2;
}



.btn-normal {
    margin: 5px;
    color: white;
    border-radius: 5px;
    padding: 14px 15px;
    font-weight: bold;
    background-color: #f2b52b;
    text-decoration: none;

}


.btn-normal:hover {

    text-decoration: none;
    background-color: #ffb203;
    color: white;
}


}
